<!DOCTYPE html>
{% load leaflet_tags %}
{% load static %}
{% leaflet_js %}
{% leaflet_css %}


<html lang="en">
<head>
    <script src="{% static 'leaflet.ajax.js' %}" charset="utf-8"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <script type="text/javascript">
        function place_pos(map, options){
        var dataset = new L.GeoJSON.AJAX("{% url 'places' %}",{
        onEachFeature: function(feature, layer){
        layer.bindPopup(feature.properties.name)
        }
        });
        dataset.addTo(map)
        }
        </script>
    <script src="./main.js"></script>
    <h1>Places</h1>
    <ul>
        {% for place in places %}
            <li>{{ place.name }}</li>
        {% endfor %}

        {% leaflet_map "gis" callback="window.place_pos" %}
    
</body>
</html>
